.wheel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.wheel {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: relative;
  overflow: hidden;
  transition: transform 4.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.segment {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
  transform-origin: 0% 100%;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}

.segment:nth-child(odd) {
  background: #fffb13;
}

.segment span {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);

  transform: skewY(71deg) scaleY(2) rotate(-80deg);
}

.pointer {
  font-size: 2rem;
  margin: 10px 0;
  color: yellow;
}

.spin-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #fffb13;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  border: 2px solid #ff00ff;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.spin-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.result {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.wheel-title {
  font-weight: bold;
  font-size: 25px;
}
